// app global css in SCSS form

.default-border{
  border: solid;
  border-color: $grey-2;
  border-width: 1px;
  border-radius: 0px;
}

.bg-dark-light{
  background-color: #2B3137;
}

.bg-dark-deep{
  background-color: #1E242A;
}
