// app global css in SCSS form

.myborder{
  border: solid;
  border-color: $accent;
  border-width: 1px;
}

.bg-dark-light{
  background-color: #41464B;
}

.bg-dark-deep{
  background-color: #1E242A;
}
